* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav .navbar{
    padding-right: 0px;
  }
  .navbar-brand{
    margin-right: 60%;
    font-weight: bolder;
  }
  .nav-item a{
    font-size: 20px;
    font-weight: bolder;
  }
  .landing{
      background-image: url("../Images/bg-pizza.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      overflow-x: hidden;
      padding-top: 60%;
      background-attachment: fixed;
      position: relative;
  }
  .text h1{
    margin-top: -40%;
    color: white;
  } 
  .text h5{color: white;
  }
  #variety{
    padding-top: 30px;
  }
  .carousel-item {
    display: flex;
  }